#allAccounts{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
}


.modal-container{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width:100vw;
  height:100vh;
  z-index: 9;
}
.modal-background{
  filter: opacity(50%);
  background: black;
  width:100vw;
  height:100vh;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.modal-content{
  position: absolute;
  left: 5em;
  top: 5em;
  margin: 5em;
  width: 80vw;
  height: auto;
}
#modal-title{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
#output{
  height: 50vh;
  max-height: 50vh;
  overflow: auto;
  margin: 2em;
}
